@import "./abstracts/_media.scss";
// STYLE FOR ORGCHART SETTINGS COMPONENT 

.settings {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 800;
    height: calc(95% - 55px);
    width: 25%;
    box-shadow: 0 2px 10px 3px rgba(0,0,0,.2);

    @include mobile {
        border-radius: 0px 10px 0 0;
        width: 100%;
    }

    &_dropdowns {
        padding-bottom: 20px;
        border-bottom: 1px solid #e2e2e2;
    }

    &_column_fields {
        cursor: pointer;

        &:hover {
            background: rgba(0, 0, 0, 0.138);
        }
    }

    &_show_all {
        all: unset;
        color: #ff8001;
        font-size: 12px;
        cursor: pointer;

        &:hover {
            color: #e97603;
        }
    }
}