@import './abstracts/_media.scss';
// STYLE FOR PLUGIN SETTINGS COMPONENT

.settings {
  position: fixed;
  right: 0;
  height: 100%;
  width: 25%;

  @include mobile {
    border-radius: 0px 10px 0 0;
    width: 100%;
  }

  &_dropdowns {
    padding-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
  }
}
