.views {
    height: 100vh;
    min-width: 300px;
    background-color: #fff;
    padding: 10px 0;
    border-right: 1px solid rgba(113, 113, 113, 0.079);

    &_add_button {
        all: unset;
        cursor: pointer;
        margin-left: 20px;
        padding: 2px;
        border-radius: 3px;
        margin-top: 10px;

        &:hover {
            background-color: #0000001f;
        }

    }

    &_input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 10px;

        input {
            width: 79%;
            padding: 5px 8px;
            outline: none !important;
            border: 1px solid rgb(85, 85, 85);
            border-radius: 5px;
        }

        button {
            all: unset;
            cursor: pointer;
            width: 7%;
            border-radius: 4px;
            padding: 3px;

            &:hover {
                background-color: #d7d7d793;
            }
        }
    }
}